.education {
    padding: 50px 10px 60px 10px;

    .education-content {
        width: 100%;
        margin: 20px 0;

        .education-title{
            text-align: center;
        }
    
        .education-text {
            display: flex;
            align-items: center;
            justify-content: center;
    
            p {
                padding: 15px 0;
                width: 90%;
            }
        }
    
        .education-text.left {
            flex-flow: row wrap;
        }
    
        .education-text.right {
            flex-flow: row-reverse wrap;
        }
    }
}

.education:nth-child(odd) {
    background: $third-color;
}

.education:nth-child(even) {
    background: $fourth-color;
}