@import 'menu.scss';
@import 'page.scss';
@import 'timeline.scss';
@import 'skills.scss';
@import 'footer.scss';
@import 'portfolio.scss';
@import 'education.scss';
@import 'begin.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}