@import 'colors.scss';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

header{
    background-color: $first-color;
    top: 0;
    width: 100vw;
    height: 40px;
    display: none;
    position: absolute;
    box-sizing: border-box;
    i[c-toggle] {
        position: fixed;
        color: white;
        font-size: 16pt;
        padding: 20px;
        transition: all .2s ease-in-out;
    }
    i[c-toggle=open] {
        display: block;
    }
    i[c-toggle=close] {
        display: none;
    }
    span {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        i {
            padding: 0 10px;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    min-width: 280px;
    max-width: 400px;
    background-color: $first-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: none;
    transition: all .2s ease-in-out;

    .menu-header {
        grid-row: 1;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 50px;
            text-align: left;
        }

        h3 {
            text-align: right;
            color: $menu-text-color;
            font-weight: bold;
            font-size: 16pt;
        }
    }

    .menu-footer {
        grid-row: 3;
        display: flex;
        justify-content: center;

        a {
            margin: 0 15px;
            color: rgb(172, 172, 172);

            i {
                font-size: 30px;
                transition: all .3s ease-in-out;
            }

            i:hover {
                transform: scale(1.2);
                color: $menu-text-color;
            }
        }
    }

    ul {
        grid-row: 2;

        li {
            width: 100%;

            a {
                display: flex;
                justify-content: space-between;
                padding: 20px 40px;
                text-decoration: none;
                color: $menu-text-color;
                transition: all .2s ease-in-out;
            }

            :hover,
            .selected {
                background: $third-color;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    nav {
        left: -100vw;
        top: 39px;
        height: calc(100vh - 40px);
    }
    header {
        display: flex;
        align-items: center;
    }
}