.page-content {
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
}

@media screen and (max-width: 480px) {
    .page-content {
        box-sizing: border-box;
        padding: 60px 20px;
    }
}