.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 60px;

    .portfolio-item {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        background: $fourth-color;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

        .portfolio-link {
            position: relative;

            a {
                position: absolute;
                background: rgba(0, 0, 0, 0.801);
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                border-radius: 5px 5px 0 0;
                text-decoration: none;
                transition: all .3s ease-in-out;


                button {
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: $menu-text-color;
                    color: $first-color;
                    font-weight: 600;
                    border-radius: 5px;
                    border: 2px solid $menu-text-color;
                    cursor: pointer;
                }

            }

            a.onhover {
                opacity: 1;
            }

            img {
                width: 100%;
                border-radius: 5px 5px 0 0;
            }
        }

        .item-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .item-header {
                margin: 10px 0;
            }

            p {
                padding: 15px 10px;
                text-align: center;
            }
        }
    }
}