.timeline {
    display: flex;
    flex-wrap: wrap;
    // height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 10px 60px 10px;
}

.timeline-point {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;

    .timeline-date {
        display: flex;
        background: linear-gradient(to right, #fff 45%, #000 45%, #000 45%, #fff 50%);
        order: 2;
        text-align: center;
        font-size: 12pt;
        flex-basis: 100px;
        color: $menu-text-color;

        span {
            max-width: 85px;
            padding: 5px;
            margin: auto;
            background: $first-color;
            border-radius: 10px;
            width: fit-content;
        }
    }

    .point-content {
        padding: 20px;
        margin-left: 10px;
        border-radius: 10px;
        order: 3;
        width: 80%;
        background: $fourth-color;
        margin-top: 50px;

        h2, h3 {
            margin: 5px 0;
        }

        p{
            margin: 10px 0;
        }
    }
}